@model Shop.Models.Product

@{
    ViewBag.Title = "Detalji";
}

<div class="row">
    <div class="col-sm-3">
        <img src="@Model.ImageUrl" class="img-responsive" style="margin-top:30px;border:solid 1px;" />
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-8">
        <h3>@Model.Name</h3>
        @if (Model.Discount == true)
        {
            <h4>@Model.DiscountPrice kn</h4>
        }
        else
        {
            <h4>@Model.Price kn</h4>
        }
        <p><b>Jamstvo: </b>@Model.Warranty mjeseci</p>
        <p>
            <b>
                Dostupnost:
            </b>
            @if (Model.Available)
            {
                <span>Proizvod je dostupan</span>
            }
            else
            {
                <span>Proizvod nije dostupan</span>
            }
        </p>
        <p><b>Detalji o proizvodu: </b>@Model.Description</p>
        <div>
            <a href="@Url.Action("AddToCart","ShoppingCart",new { productId = Model.Id})" class="btn btn-danger">U košaricu</a>
        </div>
    </div>
</div>